<h2>Paths</h2>
<ul class="list-group">
  <% @trail.paths.each do |path| %>
    <li class="list-group-item"><%= path.duration %> seconds in direction: <%= path.direction %> (<%= link_to 'Edit', edit_trail_path_path(@trail, path) %>)</li>
  <% end %>
</ul>
