<p id="notice"><%= notice %></p>

  <div class="bg-faded py-0 text-center">
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img class="img-fluid m-a-0 p-0" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;center=folsom+Ave+san+francisco&amp;zoom=16&amp;size=640x300&amp;sensor=false&amp;scale=2">
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">

              <li class="list-group-item">
                <h5 class="mb-1">Recomended Trails</h5>
              </li>
              <% @trails.each do |trail| %>
                <li class="list-group-item"><%= link_to trail.name, trail_path(trail) %> <i class="fa fa-angle-right"></i></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Share</h4>
              <h6 class="card-subtitle text-muted">Share with your friends</h6>
              <a href="#" class="card-link"><i class="fa fa-facebook"></i> Facebook</a>
              <a href="#" class="card-link"><i class="fa fa-twitter"></i> Twitter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>




  </div>

<%= link_to 'New Trail', new_trail_path %>
